/*  your css code here. If applicable */
#card{
	background-color:#DCDCDC;
	text-align:center;
	margin:120px;
	box-shadow: 2px 2px #DCDCDC;
	
	
}
#card>input{
	background-color:#CD5C5C;
	color:white;
	border-radius:20px;
	padding:25px;
	font-size:30px;
	margin-bottom:50px;
	border:none;
}
#card>h1{
	font-size:55px;
	margin-top:0;
	font-weight:bold;
	
}
#card>img{
	width:300px;
	padding-top:40px
		
}
#card>p{
	font-size:20px	
}

